html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1; }

.jumbotron {
  height: 650px;
  border: 3px slategrey;
  background-repeat: no-repeat; }

ul li {
  float: left;
  width: 10%;
  color: white;
  font-size: 18px;
  padding: 15px;
  list-style-type: none; }
  ul li:hover {
    background-color: grey;
    color: grey; }

ul a {
  text-decoration: none;
  float: left;
  text-align: center;
  color: white;
  display: block; }

#titlePage {
  height: 100vh;
  width: 100%;
  background-color: papayawhip; }

.title {
  width: 600px;
  height: 200px;
  float: right;
  text-align: center;
  padding-top: 25px;
  margin-top: 125px;
  padding-left: 15px; }
  .title h1 {
    font-family: Satisfy;
    font-size: 64px;
    color: papayawhip; }
  .title p {
    font-family: lato;
    font-size: 32px;
    color: papayawhip; }

#about {
  height: 100vh;
  width: 100%;
  background-color: papayawhip;
  padding: 5px; }
  #about h1 {
    color: saddlebrown;
    font-size: 64px;
    padding-top: 100px;
    padding-left: 15px;
    font-family: satisfy; }
  #about p {
    color: saddlebrown;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px; }
  #about img {
    float: right; }
  #about a {
    color: darkslategrey; }
    #about a:visited {
      color: none; }
    #about a:hover {
      color: saddlebrown;
      height: 100%; }

#portfolio {
  height: 100vh;
  width: 100%;
  background-color: papayawhip; }
  #portfolio h1 {
    padding-top: 100px;
    padding-left: 15px;
    font-size: 64px;
    font-family: satisfy;
    color: saddlebrown; }

.cardholder {
  margin: 0 auto; }

.card-group {
  margin: 0 auto;
  padding: 15px; }

.card {
  width: 23%;
  float: left;
  font-family: lato;
  font-size: 18px;
  font-weight: bolder;
  background-color: #eee;
  color: slategrey;
  padding: 1px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 10px 10px 5px dimgrey;
  box-shadow: 10px 10px 5px dimgrey; }
  .card:hover {
    -webkit-transition: 01s;
    -o-transition: 01s;
    transition: 01s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    /*  */ }
  .card img {
    margin: 0 auto;
    width: 100%; }
  .card h4 {
    text-align: center;
    font-weight: bold; }
  .card p {
    text-align: center; }

.icons {
  text-align: center; }

#blog {
  height: 90vh;
  width: 100%;
  background-color: papayawhip; }
  #blog h1 {
    font-family: satisfy;
    font-size: 64px;
    padding-top: 100px;
    padding-left: 15px;
    color: saddlebrown; }

footer {
  height: 10vh;
  width: 100%;
  border-top: 1px solid saddlebrown;
  margin: 0 auto;
  background-color: papayawhip;
  text-align: center; }
  footer a {
    color: darkslategrey; }
    footer a:visited {
      color: none; }
    footer a:hover {
      color: saddlebrown; }
    footer a img {
      float: right; }
