
// html, body{
//
//   height: 100%;
//   width: 100%;
//   box-sizing: border-box;
//
// }

html{
  height: 100%;
  box-sizing: border-box;
}

// body{
//   min-height: 100vh;
// }
nav{
  height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.jumbotron{
  height: 650px;
  border: 3px slategrey;
  background-repeat: no-repeat;
}
ul{

  li{
    float: left;
    width: 10%;
    color: white;
    font-size: 18px;
    padding: 15px;
    list-style-type: none;
    &:hover{
      background-color: grey;
      color: grey;

    }
  }
  a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;

  }
}



#titlePage{
  height: 100vh;
  width: 100%;
  // background-image: url('utah9.jpg');
  // background-repeat: no-repeat;
  // background-size: 100%;
  position: relative;
  background-color: papayawhip;



}

.title {
    width: 600px;
    height: 200px;
    float: right;
    text-align: center;
    padding-top: 25px;
    margin-top: 125px;
    padding-left: 15px;

   h1{
     font-family: Satisfy;
     font-size: 64px;
     color: papayawhip;
   }

   p{
     font-family: lato;
     font-size: 32px;
     color: papayawhip;
   }
}

#about{
  height: 100vh;
  width: 100%;
  background-color: papayawhip;
  padding: 5px;



  h1{
    color: saddlebrown;
    font-size: 64px;
    padding-top: 100px;
    padding-left: 15px;
    font-family: satisfy;

  }

  p{
    color: saddlebrown;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
  }
  img{
    float: right;
  }
  a{
    color: darkslategrey;

    &:visited {
    color: none;
    }
    &:hover {
    color: saddlebrown;
    }
  }

}

#portfolio{
  height: 100vh;
  width: 100%;
  background-color: papayawhip;

      h1{
        padding-top: 100px;
        padding-left: 15px;
        font-size: 64px;
        font-family: satisfy;
        color: saddlebrown;

      }

}
.card{

width:25%;
float: left;
border: 1px solid grey;
// margin-left: 50px;

  h4{
    text-align: center;
  }

}

.after-box {
    clear: left;
    border: 3px solid red;
}
// .projectInfo{
//   height:400px;
//   width: 500px;
//   margin-left: 200px;
// }
//
// .project1{
//  margin-left: 80px;
//   h2{
//     text-align: center;
//     text-decoration: underline;
//   }
//   img {
//   height: 400px;
//   width: 550px;
//   }
// }
//
// .project2{
// margin-left: 80px;
//   h2{
//     text-align: center;
//     text-decoration: underline;
//   }
//   img {
//   height: 400px;
//   width: 550px;
//   }
// }
//
//
// .project3{
//  margin-left: 80px;
//   h2{
//     text-align: center;
//     text-decoration: underline;
//   }
//   img{
//     height: 400px;
//     width: 550px;
//
//   }
// }
//
// .project4{
//  margin-left: 80px;
//   h2{
//     text-align: center;
//     text-decoration: underline;
//   }
//   img{
//     height: 400px;
//     width: 550px;
//
//   }
// }


.icons{
    margin-left: 90px;
    margin-top: 70px;
    margin: 0 auto;
}

#blog{
  height: 90vh;
  width: 100%;

  background-color: papayawhip;

  h1{
    font-family: satisfy;
    font-size: 64px;
    padding-top: 100px;
    padding-left: 15px;
    color: saddlebrown;
  }


}



footer{
  height: 10vh;
  width: 100%;
  border-top: 1px solid saddlebrown;
  margin: 0 auto;
  background-color: papayawhip;
  text-align: center;

  a{
    color: darkslategrey;

    &:visited {
    color: none;
    }
    &:hover {
    color: saddlebrown;
    }
  }

  // padding-top: 20px;
}
