

html, body {
  box-sizing: border-box;
}


nav{
  height: 20px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
 }


ul{
  width: 100%;
  background-color: black;
   &:after{
    
    content: "";
    display: block;
    clear: both;
  }


  li{
    float: left;
    width: 10%;
    color: white;
    font-size: 18px;
  
  }
  a{
    height: 100%;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    color: white;
    display: block;
    &:hover{
      text-decoration: underline;


    }

  }  
}
.jumbotron{
  height: 650px;
  border: 3px slategrey;
  background-repeat: no-repeat;
  margin-top: -20px;
}


#titlePage{
  height: 100%;
  width: 100%;
  background-color: papayawhip;
  overflow: none;
}

.title {
    width: 600px;
    height: 200px;
    float: right;
    text-align: center;
    padding-top: 25px;
    margin-top: 125px;
    padding-left: 15px;

   h1{
     font-family: Satisfy;
     font-size: 64px;
     color: papayawhip;
   }

   p{
     font-family: lato;
     font-size: 32px;
     color: papayawhip;
   }
}

#about{
  height: 100%;
  width: 100%;
  background-color: papayawhip;
  padding: 5px;
  overflow: none;



  h1{
    color: saddlebrown;
    font-size: 64px;
    padding-top: 100px;
    padding-left: 15px;
    font-family: satisfy;

  }

  p{
    color: saddlebrown;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
  }
  img{
    float: right;
  }
  a{
    color: darkslategrey;

    &:visited {
    color: none;
    }
    &:hover {
    color: saddlebrown;
    height: 100%;

    }
  }

}

#portfolio{
  height: 100vh;
  width: 100%;
  background-color: papayawhip;
  min-height: 100%;
  overflow: none;

      h1{
        padding-top: 100px;
        padding-left: 15px;
        font-size: 64px;
        font-family: satisfy;
        color: saddlebrown;

      }

}

.cardholder{
  margin: 0 auto;
}
.card-group{
  margin: 0 auto;
  padding: 15px;
}
.card{

width:23%;
float: left;
font-family: lato;
font-size: 18px;
font-weight: bolder;
background-color: #eee;
color: darkslategrey;
padding: 1px;
margin-left: 10px;
margin-right: 10px;
box-shadow: 10px 10px 5px dimgrey;
&:hover{
  
  
  transition: 01s;
  transform:scale(1.15);
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
/*  */}
  img{
    margin: 0 auto;
    width: 100%;
  }
  h4{
    text-align: center;
    font-weight: bold;
  }
  p{
    text-align: center;
  }


}


.icons{
    text-align: center;
}

#blog{
  height: 90vh;
  min-height: 90%;
  width: 100%;
  background-color: papayawhip;

  h1{
    font-family: satisfy;
    font-size: 64px;
    padding-top: 100px;
    padding-left: 15px;
    color: saddlebrown;
  }
}



footer{
  height: 10%;
  width: 100%;
  border-top: 1px solid saddlebrown;
  margin: 0 auto;
  background-color: papayawhip;
  text-align: center;

  a{
    color: darkslategrey;

    &:visited {
    color: none;
    }
    &:hover {
    color: saddlebrown;
    }

    img{
      float: right;

    }
  }

  // padding-top: 20px;
}
