
<div class="aboutBody">

  <h1>About Me</h1>

        <p>  <img src="partials/family2.jpg"> My name is Drew Thrasher and I am a web developer residing in Alaska.  My family is planning to move to Salt Lake City in a couple of month,
        as we intend to lay down roots there.  We are from Las Vegas, so we are familiar with the desert and all Utah has to offer.
        We enjoy a variety of outdoor activities such as camping, skiing and hiking.  I also enjoy playing video game, watching sports
        and drinking coffee, which case I could be labeled as an addict, but that is debatable...  We are very excited about his move
        and I also excited about starting this new career as a web develop. </br> </br>
        I have been learning how to develop web pages and applications for the past year.  Most of my projects can be found in my portfolio
       section.  To highlight, I created a football RPG HTML5 game which combines the best of both worlds, role playing and sports.
       Some of the technologies I have used is JS, Node, Angular, GitHub, Sass and Phaser.   I am also currently studying Python and Django.
        </p>
</div>
