<div class="portfolioBody">

  <h1>Portfolio</h1>

    <div class="projectWrapper">
        <div class="project1">

            <div class="projectImg">
            <a href="https://football4.herokuapp.com/#!/" > <img src="styles/headcoach.jpg" > </a>
            </div>

            <div class="projectInfo">

              <h2> Head Coach</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                  <div class="icons">
                      <img src="styles/images/js.png" style="height:60px;width:50px">
                      <img src="styles/images/angular.png" style="height:60px;width:60px">
                      <img src="styles/images/phaser.png" style="height:60px;width:60px">
                      <img src="styles/images/bootstrap.png" style="height:60px;width:60px">
                  </div>

            </div>

        </div>

        <div class="project2">

            <div class="projectImg">
              <img src="styles/images/usdcrop.jpg" >


            </div>

            <div class="projectInfo">
              <h2> US Dollar Converter</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <div class="icons">
                    <img src="styles/images/js.png" style="height:60px;width:50px">
                    <img src="styles/images/angular.png" style="height:60px;width:60px">
                    <img src="styles/images/bootstrap.png" style="height:60px;width:60px">
                </div>


            </div>

        </div>
    </div>
</div>
